.header {
  height: 40vh;
  width: 100vw;
  background-image: url(../images/image-disney.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__title {
    color: #fdfcfc;
  }
}
