<main class="main">
  <div class="container">
    <form action="">
      <input
        class=""
        type="text"
        name=""
        placeholder="Example: Olu Mel
      "
      />
      <button class="btn js_btn">Search</button>
    </form>
  </div>
  <section class="list_all">
    <section class="container_fav hidden">
      <ul class="ul-favourite">
        <h2>Favourites</h2>
        <li>
          <img src="https://placehold.co/80x80/B6B&BE/png" alt="" />
          <h3>Nombre</h3>
        </li>
      </ul>
    </section>
    <section class="container_all">
      <h2>Charters</h2>
      <ul class="card js_listCard"></ul>
    </section>
  </section>
</main>
