<main class="main">
  <div class="container">
    <form class="js_form">
      <input
        class=""
        type="text"
        name=""
        placeholder="Example: Olu Mel
      "
      />
      <button class="btn js_btn">Search</button>
    </form>
  </div>
  <section class="list_all">
    <section class="container_fav hidden js_sectionFavourite">
      <h2>Favourites</h2>
      <ul class="ul_fav js_chromesFavourites">
        <li class="li_fav js_liFavourites"></li>
      </ul>
    </section>
    <section class="container_all">
      <h2>Charters</h2>
      <ul class="card js_listCard"></ul>
    </section>
  </section>
</main>
