<main class="main">
  <div class="main__container">
    <form class="js_form">
      <input
        class="main__container__input"
        type="text"
        name=""
        placeholder="Example: Olu Mel
      "
      />
      <button class="main__container__input__btnsearch btn js_btn">
        Search
      </button>
    </form>
  </div>
  <section class="main__list_all">
    <section class="main__list_all__container_fav hidden js_sectionFavourite">
      <button class="main__list_all__container_fav__btnReset js_ResetAll">
        Reset
      </button>
      <h2>Favourites</h2>
      <ul class="ul_fav js_chromesFavourites">
        <li class="li_fav js_liFavourites"></li>
      </ul>
    </section>
    <section class="container_all">
      <h2>Charters</h2>
      <ul class="card js_listCard"></ul>
    </section>
  </section>
</main>
